<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test       name="C:/Users/Akash Pathak/IdeaProjects/TSTNGL">
       
        <classes>
            <class name="Akashpathak.test.Learn"/>
            <class name="Akashpathak.test.Signup">
        </class>
        </classes>
    </test>
</suite>